@import "bourbon"

@function calculateRem($size) 
  $remSize: $size / 16px
  @return $remSize * 1rem


@mixin font-size($size) 
  font-size: $size
  font-size: calculateRem($size)
  

$regular: "OpenSans", sans-serif
$light: "OpenSansLight", sans-serif
$italic: "OpenSansItalic", sans-serif
$bold: "OpenSansBold", sans-serif
$rawwwr: "Raleway", sans-serif
$silver: #7F8289
$accent: #DE5E60
$accent_silver: #E7746F
$bg: #2F3238
$bg_dark: #26292E

// colors

$main-text: #2d313f // main text
$link: #d36868 // anchor tags
$background: #e7eaf0 // body background color

$color-1: #2d313f // blue
$color-2: #d36868 // red
$color-3: #ffffff // white

// fonts 

$primary-font: "LoOpenSansra", sans-serif

$S: 320px 
$M: 768px   
$L: 1170px 
